In [16]:
import numpy as np
import pandas as pd
from tkinter import *

In [20]:
root=Tk()
topframe=Frame(root)
topframe.pack()
bottomframe=Frame(root)
bottomframe.pack(side=BOTTOM)
button1=Button(topframe,text="button1 press",fg="red")
button2=Button(topframe,text="button2 press",fg="blue")
button3=Button(topframe,text="button3 press",fg="pink")
button4=Button(bottomframe,text="button4 press",fg="yellow")
button1.pack(side=LEFT)
button2.pack(side=LEFT)
button3.pack(side=LEFT)
button4.pack(side=BOTTOM)
# label1=tk.Label(root,text="Notename")
# label1.pack()
root.mainloop()

In [25]:
root=Tk()
label1=tk.Label(root,text="Notename1",bg="red",fg="white")
label2=tk.Label(root,text="Notename2",bg="blue",fg="white")
label3=tk.Label(root,text="Notename3",bg="green",fg="black")
label1.pack()
label2.pack(fill=X)
label3.pack(side=LEFT,fill=Y)

root.mainloop()

In [30]:
root=Tk()
label1=Label(root,text="Name",bg="red",fg="white")
label2=Label(root,text="Password",bg="blue",fg="white")
Entry1=Entry(root)
Entry2=Entry(root)
label1.grid(row=0,column=0)
label2.grid(row=2,column=0)
Entry1.grid(row=0,column=1)
Entry2.grid(row=2,column=1)
root.mainloop()

In [ ]:
asd

In [27]:
All_Notes=[]
Notes_data={}
database=0
notebook_info=0

In [59]:
def load_database():
    global database
    global notebook_info
    database=pd.read_csv("to-do-list_database.csv")
    notebook_info=pd.read_csv("to-do-list_notebook_info.csv")
#     return database

In [91]:
load_database()

  Notebook_name Notename
0       default    note1
0       default    note2

In [4]:
class checkbox:
    def __init__(self, name, selected_flag):
        self.name = name
        self.selected = selected_flag
# p1 = Person("John", True)
class table:
    def __init__(self, name, selected_flag):
        self.name = name
        self.num_rows
        self.num_cols
        self.table=[[0]*self.num_cols for i in range(self.num_rows)]
        self.selected = selected_flag

In [103]:
def addNote( name,notebookname="default"):
    if(name in notebook_info["Notename"]):
        print("Note with this name already exists")
    else:
        note_data=[[notebookname,"note2"]]
        cols=list(notebook_info.columns)
        note_data_df = pd.DataFrame(note_data, columns=cols)
#         global notebook_info
        notebook_info=notebook_info.append(note_data_df)
        savedata("to-do-list_notebook_info.csv",notebook_info)

In [6]:
def deleteNote(name):
    if(name not in All_Notes):
        print("Note with this name does not exist")
    else:
        All_Notes.remove(name)
        del Notes_data[name]

In [7]:
def displayNote(name):
    print(Notes_data)

In [8]:
def addTableData():
    pass

In [9]:
def addCheckboxData():
    pass

In [10]:
def addTextData():
    pass

In [11]:
def update():
    pass

In [95]:
def savedata(filename,dataframe_name):
    dataframe_name.to_csv(filename,index=False)

In [13]:
def loaddata():
    pass

In [14]:
def addData(notename, datatype, data):
    if(datatype=="text"):
        addTextData(notename,data)
    elif(datatype=="table"):
        addTableData()
    elif(datatype=="checkbox"):
        addCheckboxData()
    else: #datatype text
        pass

In [15]:
def add():
    pass

In [19]:
def main():
    load_database()
    while (True):
        print("Select an option")
        print("1 Add Note")
        print("2 Delete Note")
        print("3 Modify Note")
        print("4 Add data")
        print("10 Exit")
        opt = input("Choose an option") 
        if(opt==1):
            addNote()
        elif(opt==2):
            deleteNote()
        elif(opt==3):
            pass
        elif(opt==4):
            notename = input("Please enter NoteName")
            datatype= input("Please enter Datatype")
            data=input("Please enter data")
            addData(notename,datatype,data)

In [99]:
addNote("test")

UnboundLocalError: local variable 'notebook_info' referenced before assignment

In [21]:
displayNote("test")

{'test': []}

[[1, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0]]

In [25]:
database

Empty DataFrame
Columns: [Notename, Datatype, Data, Timestamp]
Index: []